body{
  background-color: #000000;
}
.App{
  text-align: center;
  background-color: #5dbd62;
  min-height: 800px;
  width: 800px;
  margin: 20px auto;
}
#todo-form input{
  background-color: #00fa9a;
  border: 0;
  width: 200px;
  height: 50;
  padding: 0 20px;
  margin: 20px;
  border-radius: 10px;
  color: #000;
}
#todo-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: brown;
}
.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}